<hr />
<div class="row">
  <div class="col-md-3" *ngFor="let contestant of contestants">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h4>{{contestant.name}}</h4></li>
        <li class="list-group-item"><strong>Born:</strong> {{contestant.birth_name}}</li>
        <li class="list-group-item"><strong>Hometown:</strong> {{contestant.hometown}}</li>
        <li class="list-group-item"><strong>Date of Birth:</strong> {{contestant.date_of_birth}}</li>
        <li class="list-group-item"><strong>Date of Death:</strong> {{contestant.date_of_death}}</li>
        <li class="list-group-item"><button (click)="deleteQueen(contestant.id)">Delete Contestant</button></li>
      </ul>
    </div>
  </div>
</div>
